<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAz1BMVEX//
                /8Aof8AZv8An/8AnP8AZP8Am/8Ao/8AYv8AXf8AW/8AYP8ApP8AX/8AWv/1/P8Acf8AaP/s9//l9f9UuP8Ajv8Aiv+y3v/g8
                /8wrf8AmP8AgP/y9//f6v/z+//Z7/9xw/9Fs/+/4/+f1f+Qz/8Adf8AfP8Abf8AkP+70v+oxf/I2//q8v+FrP+zzP9Mtf9mv/+Fy//F5v8Ahf+evv
                +Ttv/L2f/U4v9zoP+JsP9kmP9NhP/S6v+q2v+AxP+Kzf9bkv9Pi/98pf/i7P9Hh/8fTgzYAAAMCElEQVR4nO2daVfaThvG/ySTTDYWEQuhqCACVaxb3epSq/X7f6
                YnQVFCZruTmUw4T34veno8AXJlZu
                5tlvz3X0VFRUVFRUVFRUVFRYVGmnvtmJOT+N+9pu7bkUh7//HpcNgZhQGumQjZNjLNWhCGo87wsPvY22yp7cvnThiYNopEmbU1oj8hhGrBaPh0uZEy98edWixtXViKWKgdDrtt3XcMoTfuYFtA3KrOWOXBZqh8vAh
                NmLpPlTbuPG3rvn8O+4dhNLayEz2b0VN5R+XeU2jnkbcUaZ9f6pZC5HGI88v7EGmH49INycuztD/IA8LDnm5Nq3TDbLaFhWmf7+vWtaQb2rLllUrjgSJ9C41oqN179M7k98+ExtqFVn3Noa1UXwzCXX0Cu4Es/8DE7m
                gyq+2OugGYxKyNdQjs1pR30C/QqHCLs3feL05fLbaqBY/G/bCQEbiKPSwyIh/LDdHEQGFxBmdYlIlJYqKCco72WeE9dIl9WITAXqChhy5BQ/UC94t0EgSJHdUCD7T10KXE0Z5SgV3dAiN7E6pM/7W3YIwZqnOMpRCoUuJlOQ
                RGEkdqJO5rNaIJ1FjUNtatawV0Ll9gMyxPE0bYz9IVdsoyCD+Qnk1dlExghNxK44GebIKFGcoU2NYth4RUa3NWKiuzxH6SJnBcvkG4AMsqT/VKKrBmynL85fKEq0jqp+Py2dFPTBnJYqmitXXMoQSFQ+AojNcBZZqPWnwQ+kn0m
                FvgI0wgCofjg8unIXhSGNU6h93L7mGnBvpBc5RbYQdypyg8WGZuj2eQ4Wuii2VtYvsQVG5GBzkFPkLuEyVmM5/EG8NMlLO3IcY7d/A2AvwYWrPdl6KfTeXskBjKzpdkQAoXKFWQ7gp2gGC9KAFKRvM1ImAUkrrLudDH7fR0BGRwED4uDq
                Q0Q/qhbZEuQIy9xJ7N++fzmNNh3s4icqPEGSVII+bwiU1AOIOIhRMRexoQI69A/KfNP5kVilqKhUKiXxJISyidDOKHU5ZKGIhFs4llk21+LzDJqfqfIhzGNmQxAiIqFAjbJSjMnCeCUnubONy3BVayk28PYEyjx5uxm4IyX0Rc1HMpMJLJH
                jsE/HbW4mkPttie2BQXAt9hkvp3G5R2Z+ymwNlQkzRxKWLziX7mEJiVZuqmoJFAXkQgll7gtENswvRlc/pN0EiI6Kd+pS32jAjWFFpYIMcbHPbBNcRgrXwpnCGklsmAC7SZYlNAArv8mTBhM9riueVa4gUdhDVa6McG4nI/MM2VO+1iSPJ89
                pXkb2eZyCMHHGwg2f3XD+Hnx71ms7k/DmBVVtPudNvRB9vdTqaF1ev1BREy/Mzip2wzCHCG3UEmQkEYZCtERp+GL3iHuVztZPD5IvFWmYBXa+CmVDPgqCaDxdaKDV7tBinRlAFyBs4CVM0vAfDqPjQq1Q3cIQJqXaWAnIH/fyvUfcdQ0rMmPDbM0GywQ
                hwRLFj+J/5L+jq4Qv3rExZKzP7Or+mkNTOsBcasNZn+2umbtXWdcIV6LU3UXDV75/tky4lYSPsg/n/8t63J951+LfhSuVm2FAdoZzqznBVlKWKhs+mOvRQJV6htIRQOzF8tw2GIW1VptH6hINYI9/h6ojaMzZ2W7wio+1Tp+K1vJsbwmeAMZRoJ+v
                rfDYi8pUhj2kfgzYnFZ084+DER6ZtEkdbsCKqw6Aw4ar8WvPlWNLrTG5hC0FIhKfr8HPpinMbDLUThXpEKMZrmab9Pjd7dCUBicQ4RB9+2JOiLqRtX4goLcxcY5RqASSxv+k9U4XNBpgZ/M6Tpi3F80WYsZhMJrk0dmfqMuBn/ilUWBRYZSBBoz2QLjKi
                3doUkFlCLCn5kdfFsHPdURKH6imnwTUEDLrAaIoNR+a5f/EuVwHgw/uQrVL2dC39XJzDCu+NLVOsRFQs0jAZfotLjBQLVAiOJr1yJCj2iOiOzgnfNUwhcMwQA7xQgMGrFY45CZfPAuK/EDaawXF4+pcjp45qsXIIrcWvAVqiolIEnBQk0DP+FrVDNzjzM
                sjJO3fM8VzTft3w3urzO+D6etVFRccM2/fYd7+Hn6c3N8evEEzBFljd5Pb65Of395vn0Z8AeikJbQoAELZpCq/GyvJ3mzdTjCXRbR8s0afe+QftSZ8puRPkOg95HrXoiI/hNven3q5OR5xE1S/HYQbj0RsQmzY6m+tOxy1Lort34Lk2i5bDLU38kS8Tfa
                c/aTdV0rxkS3VTuMKdd7bMDVMkZBt3M1An38UA1N9YkffVPikTLZ6f8cg9UwFNaXzIIfYnaLIZHKOIPZpTv9u+ZCqUGNhjRWoV8F7TQwDJIV7/SfIbHbkSZ0WlAH4XEysrPOuV5EIfWDXUkcvKoc4n9lOoAXOJjPqU4RZeYNPyjVpYb7PrinrQCPyNec4lL
                0ecN8tWkYRiFCdSAft21rCOtJoWp4YzhEp/yLU3hnHijVIW8wAa8wYMmkJEWukS3fETppR5x1J7Qq691bqIoJXhjlQ/JrXJFsR3136Srbyl2ifqBFeSU+Bmd1KgT65tvlEdCcvjMGMh54CgEbQmmCkSMUNpqEQbivzrVOJJML2OSx/K5k24X+SXiH6ycj+QA
                7qhpn/83fTXNtSwgj9wE+b0iPehePGUj9ZSPWJF36o4HzOIPJ/xekNvasIahEVv0tX66y7ply1i3jg/UBn//dr7Cdt5DoDGn+OJPEx7jdotZyHCMhPUdvNEN6QKyw02ynU8i7vNKL47xNRabv13OA4mS/K846HSL2YIRDZGlKPmO8mYbmo+bnl3fngwGJ/N
                Xiycwou68zuOrb68n7IpHjICp+S/nYd5C04VWvWHNZn5DrJxo+Z4/a1kNgadhuNxJjHeJkG2T6wqZpnTltlnLSomXC10nYkxjQGc4JQlo6X0xOJzq9yftzG+2oNdJi1Eo4C7eaWY9b1ezQnIoSyZjqT+gFYoKUjgTV5hxgn+DFGY8uly3wpa4woxn7m7OOMyaKgbFzYuS
                ELelmZfW6vaHf0UFZp75Fo1pFMGrCn+SfaaGObmtHsG4NM+UqUBuoRKx3AJ8JG1Coc1L4ZRCrF0RyHTiyVKiznFo+WJLo3MVFTl1GrXwC6bv5NCn2ZgKmlLGWy4Q/3XjWk0NebZqnR715k37ud0d9TkakT6BliW0X4iWU5ioszjmq/cHMxuywPVs6zhvIgJpxybbo6
                /9m5fDgH7Ok0afz5sifYdcokE4uQO3eTAMbXJTYluXQN6Ck3eeSJ7CtC8I09O98cgmqdSWQIn5CsKqk+UAJLE/Pg9qCCWOkC9o8XMaoZCNcCQwCjnH3vQex8NRiKP2jJQutOoRaPkiTZiyM0jwTcvNdu9gfHgx7IzCMFS4TYYBeYJ5nbUFGSYaZnk/yIA6q6sQyxdyhsmsAo0yvj
                KLtrxOJXXB5HeleoHCzC8kOClqmf4XhNllMgf9zw56mOMNi6xFo2pIL0Wl8RQH1yZC57leddos2idaW+Ltsf08CkcXed9Zd0RZyaWKhmD5QiIvhVYzfKGYWy6M5WfysSzh/fkSYS7tkYzH276mhrvC7Gmds8RbGZOCgjcHMOEkl4KGolhaqIZ53tNohATWgYfySOVUZA1MTribZNVypdzxN0T
                nYpRJ9JS2ouXxFj5vuESLv1W9AI7VSRQ7+kM9Rw1FftHSEG6T2W0picKtFuhcM6WcvKiIUR1dsRoRznbfbLjkXUOamM84K7QzAFg8UwR7dyKb72FoDmdS3Exk+w3LkPG2Z4k0rz3JobhYmbtIBne+VI06Eycau3e+zJI/aWeUdnZf/Ww5leUSbJWnMzmkMriagQek5Xuzq/k0ZasgS2YLZX4
                PERnLu1+499PZevtzjvzQyODortVgnaqzxHEbs/uj5RzD4KefDHItg3OEkk6at9dvXsP1KRtiLMvx3Yb3dn2bmJL49zeZq4jOqmnj9vhusuW4nuv778frx//6ft1zna3p3TEpfZhPVruq1SpxIy5p7t6cXr/evzw8TCMeHl7uX69P57v02aSrrZVqM+c8jLLRFJskG7x+eQ7RNaWbxu7bR0JmzTagl2bjKB6OllOSWo0a
                riZufVKWWo0amicnORYbVFRUVFRUVFRUVFRUVPwPrng1x/Jy03AAAAAASUVORK5CYII=" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                WeChat
            </a>
        </div>
    </nav>
    <div class="">
    <h3>All Chats</h3>
    <form method="GET" action="/chats/new">
        <button id="bt">New Chat</button>
    </form>
    </div>
    <br>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>from: <i> <%= chat.from %></i>
            </p>
            <div class="msg">
                <p>
                    <%= chat.msg %>
                </p>
                <form method="GET" action="/chats/<%= chat._id %>/edit">
                    <button>Edit</button>
                            
                </form>
                <br>
            <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Delete this chat?')">
            
                <button>Delete</button>
            </form>
            </div>
            <p>receiver by: <i><%= chat.to %></i>
            </p>
            <hr>
            <p><%=chat.created_at.toString().split(" ")[4] %></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
    
        <% } %>
        <!-- footer.ejs -->
        <footer class="footer">
            <p>&copy; <%= new Date().getFullYear() %> My Website. All rights reserved.</p>
        </footer>
        
        <style>
            .footer {
                background :aliceblue;
                color: black;
                text-align: center;
                padding: 15px;
                margin-top: 20px;
            }
        </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>
</html>

